doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="./src/css/index.css")
        title DAUM&CO
    body 
        .--nav.--fixed.--bg2(style="max-height:5vh;width:100vw")
            div(style="width:71vw")
                h3.--main--fnt.--cp DAUM&CO
            .--flex.--flex--row.--gap.--f1.--hide
                h4.--cp Who We Are 
                h4.--cp Our Work
                h4.--cp Contact
        .--flex.--bg1.--flex--col.--body--div
            .--pad
                .--m40
                    h2.--h2--fnt What story do you want to tell about your organisation?
                    button.--btn Learn More
        .--nav--btm--div.--bg2
            .--grid 
                .--flex2
                    div DAUM&CO.
                    div ABN: 26 151 545 969
                .--flex2
                    div Level 50, 120 Collins Street
                    div Melbourne, Vic 3000 Australia
                .--flex2 
                    div Telephone +61 3 9225 5049
                    div mail 
                     a.--mail(href="#") mail@mail.com